{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Mediamix
{% endblock %}

{% block body %}
	<h1 class="pt-5 text-center h1 fst-italic my-3">Modifier mon mot de passe</h1>
	{% if notification %}
		<div class="alert alert-info">{{ notification }}</div>
	{% endif %}
	{{ 
      form(
        form,{
          'attr':{'class': 'pb-5 pt-2 px-3 mx-auto col-10 col-md-8'}
            }
      )
    }}
		<hr>
	{% endblock %}
